<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SerpAPI Challenge</title>
  </head>
  <body>
    <div class='MiPcId klitem-tr mlo-c'>
      <div class='kltat'>
        <div><%= name %></div>
      </div>
      <div class='ellip klmeta'>
        <%= date %>
      </div>
      <a class='klitem' href=<%= link %> >
        click here
      </a>
      <img id=<%= img_link_id %> class='rISBZc M4dUYb' src='fake_link' >
    </div>
  </body>
</html>

(function(){var s='<%= img_link %>';var ii=['<%= img_link_id %>'];